.container
  %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    = link_to 'myCRM', '/', class: 'navbar-brand'
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'
    #auth.ml-auto
      = render 'layouts/auth'
